{% if page.sidebar_first %}
<!-- Start: Left Sidebar -->
<div id="sidebar-left" class="sidebar">
   <aside class="sidebar-left" role="complementary">
      {{ page.sidebar_first }}
   </aside>
</div>{# /sidebar-left #}
<!-- End: Left Sidebar -->
{% endif %}
