<!-- App Download Banner -->
<div id="app-banner" class="app-banner">
  <div class="banner-content">
    <img src="/{{ directory }}/images/logo.svg" alt="" class="app-icon">
    <div class="banner-text">
      {{ 'Discover more on Bebbo'|t }}
    </div>
    <a href="{{ app_share_url }}" class="download-btn" target="_blank">{{ 'Open App'|t }}</a>
  </div>
</div>
