# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
# /docroot/sites/*/*settings*.php
# /docroot/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/docroot/sites/*/files
/docroot/sites/*/public
/docroot/sites/*/private
/docroot/sites/*/files-public
/docroot/sites/*/files-private

# Ignore paths that may contain temporary files
/docroot/sites/*/translations
/docroot/sites/*/tmp
/docroot/sites/*/cache

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib

# Ignore Composer-managed dependencies.
/.editorconfig
/.gitattributes
/files-private
/LICENSE.txt
/vendor/
/docroot/.csslintrc
/docroot/.eslintignore

# Ignore build artifacts
deployment_identifier
/deploy
bin/*
tmp
reports
/travis_wait*

/docroot/.eslintrc.json
/docroot/.ht.router.php
/docroot/.htaccess
/docroot/autoload.php
/docroot/example.gitignore
/docroot/index.php
/docroot/INSTALL.txt
/docroot/README.txt
/docroot/robots.txt
/docroot/update.php
/docroot/web.config
