<div {{ attributes }}>
  <div class="tbm-column-inner">
     {% if close_button %}
      {{ close_button }}
    {% endif %}
    {% for item in tb_items %}
      {{ item }}
    {% endfor %}
  </div>
</div>
