{% for row in rows %}
	{% set node = row.content['#row']._entity %}
	<div class="views-view-grid horizontal cols-3 clearfix">
		<div
			class="items">
			{# {% for row in rows %} #}
			{{ row.content }}
			{# {% endfor %} #}
		</div>
	</div>
{% endfor %}
