{% for row in rows %}
  {% set node = row.content['#row']._entity %}
  {% if node.field_related_video_articles|length > 0 %}
    <h2 class="block-title">{{ 'Related videos'|t }}</h2>
    <div class="views-view-grid horizontal cols-3 clearfix">
      <div class="items">
        {# {% for row in rows %} #}
        {{ row.content }}
        {# {% endfor %} #}
      </div>
    </div>
  {% endif %}
{% endfor %}
