<!-- Start: Header -->
<header id="header">
  {% if page.header_top or all_icons_show %}
    {% include '@tara/template-parts/header_top.html.twig' %}
  {% endif %}
  <div class="header">
    <div class="container">
      <div class="header-container">
        {% if page.site_branding %}
          <div class="site-branding-region">
            {{ page.site_branding }}
          </div> <!--/.site-branding -->
        {% endif %} <!--/.end if for site_branding -->
        {% if page.search_box or  page.primary_menu %}
          <div class="header-right">
            <!-- Start: primary menu region -->
            {% if page.primary_menu %}
            <div class="mobile-menu">
              <span></span>
              <span></span>
              <span></span>
            </div><!-- /mobile-menu -->
            <div class="primary-menu-wrapper">
              <div class="menu-wrap">
                <div class="close-mobile-menu"><i class="icon-close" aria-hidden="true"></i></div>
                {{ page.primary_menu }}
              </div>
            </div><!-- /primary-menu-wrapper -->
            {% endif %}<!-- end if for page.primary_menu -->
            {% if page.search_box %}
              <div class="full-page-search">
                <div class="search-icon">
                  <i class="icon-search" aria-hidden="true"></i>
                </div> <!--/.search icon -->
                <div class="search-box">
                  <div class="search-box-close"></div>
                  <div class="search-box-content">
                    {{ page.search_box }}
                  </div>
                  <div class="search-box-close"></div>
                </div><!--/.search-box -->
              </div> <!--/.full-page-search -->
            {% endif %} <!-- end if for page.search_box -->
          </div> <!--/.header-right -->
        {% endif %}<!-- end if for page.search_box or  page.primary_menu -->
      </div> <!--/.header-container -->
    </div> <!--/.container -->
  </div><!-- /.header -->
</header>
<!-- End: Header -->
