{% if page.sidebar_second %}
<!-- Start: Right Sidebar -->  
<div id="sidebar-right" class="sidebar">
   <aside class="sidebar-right" role="complementary">
      {{ page.sidebar_second }}
   </aside>
</div>{# /sidebar-right #}
<!-- End: Right Sidebar -->  
{% endif %}