<div class="an-start-form">
    <div class="an-pg-container">
        <div class="an-wrapper">
            <h2 class="an-info-header">Acquia Subscription</h2>
            <p class="an-slogan">A suite of products and services to create &amp; maintain killer web experiences built on Drupal</p>
            <div class="an-info-box">
                <div class="cell with-arrow an-left">
                    <h2 class="cell-title"><i>Answers you need</i></h2>
                    <a href="https://docs.acquia.com" target="_blank"><img src="/{{ attributes.path }}/images/icon-library.png" alt="" typeof="Image"></a>
                    <p class="cell-p">Tap the collective knowledge of Acquia’s technical support team &amp; partners.</p>
                </div>
                <div class="cell with-arrow an-center"><h2 class="cell-title"><i>Tools to extend your site</i></h2>
                    <a href="https://www.acquia.com/customer-success" target="_blank"><img src="/{{ attributes.path }}/images/icon-tools.png" alt="" typeof="Image"></a>
                    <p class="cell-p">Enhance and extend your site with an array of <a href="https://www.acquia.com/products-services/acquia-cloud" target="_blank">services</a> from Acquia &amp; our partners.</p>
                </div><div class="cell an-right"><h2 class="cell-title"><i>Support when you want it</i></h2>
                    <a href="https://support.acquia.com" target="_blank"><img src="/{{ attributes.path }}/images/icon-support.png" alt="" typeof="Image"></a>
                    <p class="cell-p">Experienced Drupalists are available to support you whenever you need it.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form }}