#breadcrumb .block-content nav.breadcrumb {
  background-color: transparent !important;
  margin-bottom: 0px;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: '' !important;
}

.views-view-grid .items img.image-field {
  margin: 0 0 1rem 0;
  height: 200px;
  /* object-fit: cover; */
  width: 100%;
}

select#edit-field-activity-category-target-id--2,
select#edit-field-content-category-target-id--2 {
  width: 90%;
}

/* Sticky App Download Banner */
.app-banner {
  position: fixed;
  bottom: 0;
  /* Changed from top to bottom */
  left: 0;
  width: 100%;
  background-color: #00aeef;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  z-index: 1000;
  display: none;
  /* Initially hidden on larger screens */
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

.app-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-right: 10px;
}

.banner-text {
  flex: 1;
  font-size: 14px;
  text-align: left;
}

.download-btn {
  background-color: #FFFFFF;
  color: #2c3482;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  filter: drop-shadow(0 0 2px grey);
}

.close-btn {
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

/* Show banner only on mobile devices */
@media screen and (max-width: 768px) {
  .app-banner {
    display: block;
  }
}


/* Header menu overrides */
.align-center,
img.align-center,
figure.align-center {
  display: block;
  clear: both;
  margin: 0px auto !important;
}

/* Overrides */
.site-name {
  position: relative;
  font-family: var(--font-heading);
  font-size: 0.85rem;
  line-height: 1.1;
  color: var(--bold-color);
  /* text-transform: uppercase; */
  top: 14px;
  font-weight: bold;
}

.header-container {
  padding: 0.1rem 1.7rem;
  background-color: #eeeeee;
}

#footer {
  background: #00aeef none repeat scroll 0 0;
}

.site-branding img {
  width: auto;
  max-height: 60px;
}

#footer img.image-field {
  width: 75px;
  margin-left: 13px;
}

@media screen and (max-width: 767px) {
  #sidebar-left {
    order: 1;
  }

  #main {
    order: 2;
  }
}

.footer li a {
  color: #fff;
}

.region-footer-top,
.region-footer-bottom {
  display: flex;
  flex-direction: row;
  /* gap: 42rem; */
}

.footer-bottom-middle {
  padding: 0rem;
  border-top: none;
}

.footer-bottom-middle-right ul.menu {
  display: flex;
  justify-content: space-around;
  gap: 1.1rem;
}

.footer li {
  border-bottom: none;
}

.footer li a {
  color: #fff;
  font-size: 0.9rem;
}

.sidebar .block {
  box-shadow: 0 0 0 0px transparent;
}

/* Header top */
.header-top {
  background-color: #27aae2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  padding-right: 10px;
}

.header-top-container {
  padding: 0px;
}

.header-top img.image-field {
  height: 1.3rem;
}

.header-top .field-item {
  margin: 0px;
}

.header-top .image-field {
  margin: 0 0 0 0;
}

img.image-field {
  width: 100%;
  margin-left: 13px;
}

.region-primary-menu .menu-item-level-1 a:hover,
.region-primary-menu .menu-item-level-1>span:hover {
  color: #4fa9dd;
  background-color: transparent;
}

@media (min-width: 768px) {
  .region-primary-menu .menu-item-level-1:hover {
    color: #4fa9dd;
    background-color: transparent;
  }
}
