/*
 * Pull form page.
 */
.entity-share-new {
  background-color: greenyellow;
}
.entity-share-changed {
  background-color: lightpink;
}

/*
 * Processors page.
 */
.entity-share-client-stage-wrapper.form-item {
  float: left;
  box-sizing: border-box;
  width: 19%;
  min-width: 17em;
  margin-right: 1%;
}

.entity-share-client-stage-wrapper.form-item:last-child {
  margin-right: 0;
}
