{#
/**
 * @file
 * Default theme implementation for local form element status.
 *
 * Available variables:
 * - wrapper_attributes: The HTML attributes object of status wrapper.
 * - icon_url: The URL of the icon in use.
 * - title: The title of the icon.
 *
 * @ingroup themeable
 */
#}
<div{{ wrapper_attributes }}>
  <img src="{{ icon_url }}" alt="{{ title }}"/><span></span>
</div>
