@charset "UTF-8";
/**
 * @file
 * Custom CSS for the JSON Field module.
 */

/* CSS Overrides */
.jsonview {
  background-color: #eee;
  border: solid 1px #ccc;
  overflow: scroll;
  height: 400px;
  padding: 10px;
}
